.card {
  margin: 0.2rem 0.1rem;
  width: 104px;
  height: 128px;
  background: url("https://ffxivcollect.com/images/cards-large.png") no-repeat;
}

.redCard {
  background: url("https://ffxivcollect.com/images/cards-red.png") no-repeat;
}

.blueCard {
  background: url("https://ffxivcollect.com/images/cards-blue.png") no-repeat;
}

.inputStat {
  width: 70px !important;
}