.card {
  margin: 0.25rem;
  width: 104px;
  height: 128px;
  background: url("https://triad.raelys.com/images/cards/large.png") no-repeat;
}

.redCard {
  background: url("https://triad.raelys.com/images/cards/large_red.png") no-repeat;
}

.blueCard {
  background: url("https://triad.raelys.com/images/cards/large_blue.png") no-repeat;
}