@import "bootstrap/scss/bootstrap.scss";

body {
  background: linear-gradient(#393939, #313131);
  color: #fff;
  font-family: sans-serif;
  min-height: 100vh;
}

header {
  background: linear-gradient(#606060, #3f3f3f);
}

.navbar {
  padding: 0;
}

.navbar-brand, .nav-link {
  color: #ddd;

  &:hover, &:active, &:focus {
    color: #fff;
  }
}

.form-select, .form-control {
  width: auto;
  background-color: #eee;
  margin: 0 0.5rem;

  &:disabled {
    background-color: #ddd;
    border-color: #d8d8d8;
  }

  > option {
    background-color: #eee;
  }
}

.input-group-text {
  background-color: #efefef;
}

.input-group {
  width: auto;
}

.card {
  background-color: inherit;
  color: #fff;
}

.card-header {
  background: linear-gradient(#4c4c4c, #2a2a2a);
}

.card-body {
  background: linear-gradient(#4f4d4d, #5a5650);
  border-radius: 0 0 0.25rem 0.25rem;
}