.gameMat {
  position: relative;
  width: 1122px;
  height: 562px;
  padding: 44px 12px;
  background-image: url("../../../public/images/board.png");
}

.score {
  width: 342px;
  height: 102px;
  padding: 20px 30px 14px 78px;

  img {
    margin-left: -5px;

    &:first-child {
      margin-left: 0;
    }

    &:nth-child(6) {
      margin-left: 80px;
    }
  }
}

.controls {
  width: 342px;
  height: 102px;
}

.player {
  width: 342px;
  height: 372px;

  select {
    margin: 0 auto;
    max-width: 300px;
  }
}

.message {
  position: absolute;
  width: 1098px;
  height: 474px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  z-index: 2;
  pointer-events: none;

  img {
    position: absolute;
    margin: 190px 249px;
  }
}

.blueTurn {
  position: absolute;
  top: 67px;
  left: 36px;
}

.redTurn {
  position: absolute;
  top: 67px;
  right: 36px;
}

.board {
  width: 438px;
  height: 474px;
  padding: 32px 3px;
}

.playSquare {
  width: 136px;
  height: 136px;

  img {
    margin: 4px 16px;
  }
}

.playCard {
  // Fix background rendering issue on drag
  transform: translate(0, 0);
}