.board {
  width: 1122px;
  height: 562px;
  background-image: url("../../../public/images/board.png");
}

.deckSelect {
  position: relative;
  top: 130px;
  left: 11px;
  width: 1100px;
}

.decks {
  position: relative;
  top: 130px;
  left: 18px;
  width: 1085px;
  margin-top: 1rem;
}

.playArea {
  position: absolute;
  left: 756px;
  top: 143px;
  width: 408px;
  height: 408px;
}

.playSquare {
  width: 136px;
  height: 136x;
  background-color: rgba(0, 0, 0, 0.1);

  img {
    margin: 4px 16px;
  }
}

.playCard {
  // Fix background rendering issue on drag
  transform: translate(0, 0);
}